---
layout: default
---

<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

<p>&larr; <a href="{{ "/news/" | relative_url }}">View all our monthly reports</a></p>

{% unless page.date %}
<div class="col-12 alert alert-warning" role="alert">
  <strong>This is an unpublished draft report.</strong>
  <a href="https://salsa.debian.org/reproducible-builds/reproducible-website/blob/master/_reports/{{ page.year }}-{{ page.month }}.md">(source)</a>
</div>
{% endunless %}

<hr>

<div class="blog-post-content">
  {{ content }}
</div>

<hr>

<p>&larr; <a href="{{ "/reports/" | relative_url }}">View all our monthly reports</a></p>
